.btn {
  width: 220px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-size: 18px;
  font-weight: 700;
  border: 1px solid rgba(0, 0, 0, .2);
  box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
  cursor: pointer;
  transition: .3s all;
  outline: 0;
}
.btn_white {
  background-color: #fff;
}

.btn_dark {
  background-color: #303030;
  color: #fff;
  border: none;
}

.btn_min {
  height: 50px;
}

.btn:hover {
  box-shadow: 0 4px 30px rgba(0, 0, 0, .3);
}
