.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  padding: 0 100px;
}
.header__left-block {
  display: flex;
  justify-content: space-between;
  min-width: 550px
}

.header__logo {
  max-width: 170px
}

.header__logo img {
  width: 100%
}

.header__links {
  display: flex;
  align-items: center
}

.header__link {
  position: relative;
  margin-right: 45px;
  font-weight: 700;
  font-size: 18px;
  color: #303030
}

.header__link:after {
  content: '';
  position: absolute;
  display: block;
  width: 110%;
  left: -5%;
  bottom: -1px;
  z-index: -1;
  height: 8px;
  background: #54ed39;
}

.header__link:last-child {
  margin-right: 0;
}
