@media (max-width: 1200px) {
    .order {
        padding-bottom: 80px;
        &__form {
            margin-top: 70px;
            padding: 0 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__input {
            width: 200px;
            height: 50px;
            background: #FFFFFF;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
            border: none;
            font-size: 16px;
            text-align: center;
            padding: 0 20px;
            outline: none;
        }
    }
}

@media (max-width: 992px) {
    .order {
        padding-bottom: 80px;
        &__form {
            margin-top: 70px;
            padding: 0px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

@media (max-width: 767px) {
    .order {
        &__form {
            flex-direction: column;
            img {
                display: none;
            }
        }
        &__input {
            width: 300px;
            margin-bottom: 20px;
        }
        .btn {
            width: 300px;
        }
    }
}

@media (max-width: 575px) {
    .order {
        padding-bottom: 70px;
        &__form {
            margin-top: 50px;
        }
        &__input {
            width: 250px;
        }
        .btn {
            width: 250px;
        }
    }
}