@media (max-width: 1200px) {
  .tabcontainer {
    max-width: 900px;
  }
  .tabcontent__descr {
    max-width: 460px;
    max-height: 300px;
    padding: 30px;
    font-size: 20px;
  }
  .tabheader__item_active {
    font-size: 20px;
  }
  .bgc_blue {
    max-height: 775px;
  }
}

@media (max-width: 992px) {
  .preview {
    min-height: 550px;
  }
  .tabcontainer {
    max-width: 700px;
  }
  .tabcontent__descr {
    max-width: 350px;
    max-height: 200px;
    padding: 20px;
    font-size: 16px;
    line-height: 150%;
    top: 260px;
  }
  .tabheader {
    width: 250px;
  }
  .bgc_blue {
    max-height: 720px;
  }
}

@media (max-width: 767px) {
  .preview {
    padding-bottom: 60px;
  }
  .tabcontainer {
    max-width: 520px;
    flex-direction: column;
    .tabcontent {
      max-width: 100%;
      &__descr {
        max-width: 280px;
        max-height: 200px;
        padding: 20px;
        top: 300px;
        right: 0px;
        font-size: 14px;
      }
    }
  }
  .tabheader {
    padding-top: 20px;
    &__items {
      margin-top: 25px;
    }
    &__item {
      font-size: 17px;
      &_active {
        font-size: 18.5px;
      }
    }
  }
  .bgc_blue {
    display: none;
  }
}

@media (max-width: 575px) {
  .preview {
    padding-bottom: 35px;
  }
  .tabcontainer {
    max-width: 280px;
    .tabcontent {
      &__descr {
        max-width: 290px;
        max-height: 200px;
        padding: 20px;
        top: 365px;
        right: 0px;
        font-size: 14px;
      }
    }
  }
  .tabheader {
    padding-bottom: 20px;
    &__items {
      margin-top: 20px;
    }
    &__item {
      font-size: 16px;
      &_active {
        font-size: 17.5px;
      }
    }
  }
  .preview__life {
    margin-top: 220px;
    font-size: 18px;
  }
}